#image-first{
    width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
}
.format h1{
    font-size: 50px;
}
.highlight{
    color: rgb(255, 115, 0);
}
.format{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
    
}

